In [1]:
import pandas as pd

In [2]:
train_df = pd.read_excel('train.csv')

In [3]:
test_df = pd.read_excel('test.csv')

In [4]:
train_df.iloc[0]['text']

'? ? ? said as a result of its december acquisition of space co it expects earnings per share in 1987 of 1 15 to 1 30 dlrs per share up from 70 cts in 1986 the company said pretax net should rise to nine to 10 mln dlrs from six mln dlrs in 1986 and rental operation revenues to 19 to 22 mln dlrs from 12 5 mln dlrs it said cash flow per share this year should be 2 50 to three dlrs reuter 3'

In [5]:
test_df.iloc[0]['text']

'? the great atlantic and pacific tea co said its three year 345 mln dlr capital program will be be substantially increased to ? growth and expansion plans for ? inc and ? inc over the next two years a and p said the acquisition of ? in august 1986 and ? in december helped us achieve better than expected results in the fourth quarter ended february 28 its net income from continuing operations jumped 52 6 pct to 20 7 mln dlrs or 55 cts a share in the latest quarter as sales increased 48 3 pct to 1 58 billion dlrs a and p gave no details on the expanded capital program but it did say it completed the first year of the program during 1986 a and p is 52 4 pct owned by lt ? ? of west germany reuter 3'

## Removing Punctuation

In [6]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
## Removing Punctuation

def remove_punctuation(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct
train_df['text']=train_df['text'].apply(lambda x: remove_punctuation(x))
test_df['text']=train_df['text'].apply(lambda x: remove_punctuation(x))

In [8]:
train_df

                                                   text  class
0        said as a result of its december acquisitio...      3
1      generale de banque sa lt  br and lt heller ov...      4
2      shr 3 28 dlrs vs 22 cts shr diluted 2 99 dlrs...      3
3      the farmers home administration the u s agric...      4
4      seton co said its board has received a propos...      4
...                                                 ...    ...
8977   finance minister kiichi miyazawa said japan h...     19
8978   the price of gold bullion is likely to rise i...     19
8979   international phoenix energy corp said it lau...     25
8980   shr loss 76 cts vs profit 50 cts net loss 19 ...      3
8981   currency fluctuations may  their influence on...     25

[8982 rows x 2 columns]

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8982 entries, 0 to 8981
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    8982 non-null   object
 1   class   8982 non-null   int64
dtypes: int64(1), object(1)
memory usage: 140.5+ KB

In [10]:
train_df['class'].value_counts()

3     3159
4     1949
19     549
16     444
1      432
11     390
20     269
13     172
8      139
10     124
9      101
21     100
25      92
2       74
18      66
24      62
0       55
34      50
12      49
36      49
6       48
28      48
30      45
23      41
31      39
17      39
40      36
32      32
41      30
14      26
39      24
26      24
43      21
15      20
29      19
37      19
38      19
45      18
5       17
7       16
27      15
22      15
42      13
44      12
33      11
35      10
Name: class, dtype: int64

In [11]:
train_df.duplicated().sum()

247

In [12]:
train_df.drop_duplicates(keep='last', inplace=True) 
test_df.drop_duplicates(keep='last', inplace=True)

In [13]:
print(len(train_df[train_df['text'] == ""]))

0

In [14]:
import nltk
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Arush\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
train_df

                                                   text  class
0        said as a result of its december acquisitio...      3
1      generale de banque sa lt  br and lt heller ov...      4
2      shr 3 28 dlrs vs 22 cts shr diluted 2 99 dlrs...      3
3      the farmers home administration the u s agric...      4
4      seton co said its board has received a propos...      4
...                                                 ...    ...
8977   finance minister kiichi miyazawa said japan h...     19
8978   the price of gold bullion is likely to rise i...     19
8979   international phoenix energy corp said it lau...     25
8980   shr loss 76 cts vs profit 50 cts net loss 19 ...      3
8981   currency fluctuations may  their influence on...     25

[8735 rows x 2 columns]

In [16]:
def remove_stopwords(text):
    text=text.split()
    text=[word for word in text if word not in stopword]
    return " ".join(text)
train_df['text'] = train_df['text'].apply(lambda x: remove_stopwords(x))
test_df['text'] = test_df['text'].apply(lambda x: remove_stopwords(x))

In [17]:
train_df

                                                   text  class
0     said result december acquisition space co expe...      3
1     generale de banque sa lt br lt heller overseas...      4
2     shr 3 28 dlrs vs 22 cts shr diluted 2 99 dlrs ...      3
3     farmers home administration u agriculture depa...      4
4     seton co said board received proposal chairman...      4
...                                                 ...    ...
8977  finance minister kiichi miyazawa said japan pl...     19
8978  price gold bullion likely rise second half yea...     19
8979  international phoenix energy corp said launche...     25
8980  shr loss 76 cts vs profit 50 cts net loss 19 1...      3
8981  currency fluctuations may influence bullion ma...     25

[8735 rows x 2 columns]

In [18]:
import re
def remove_num(line):
    line = re.sub("(^|\W)\d+($|\W)", " ", line)
    return line
train_df['text'] = train_df['text'].apply(lambda x: remove_num(x))
test_df['text'] = test_df['text'].apply(lambda x: remove_num(x))

In [19]:
#train_df['class'].value_counts()
test_df

        id                                               text
0        1  said result december acquisition space co expe...
1        2  generale de banque sa lt br lt heller overseas...
2        3  shr 28 dlrs vs cts shr diluted 99 dlrs vs cts ...
3        4  farmers home administration u agriculture depa...
4        5  seton co said board received proposal chairman...
...    ...                                                ...
2241  2242  plc lt l said offer lt estates ltd would remai...
2242  2243  shr profit one ct vs loss nine cts net profit ...
2243  2244  trust bristol myers shares announced initial d...
2244  2245  shr cts vs cts net 150 vs 699 sales 8 mln vs 3...
2245  2246  shr cts vs one dlr net 413 vs 776 assets 3 mln...

[2246 rows x 2 columns]

In [20]:
from sklearn.model_selection import train_test_split

X = train_df['text']
y = train_df['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

# Naïve Bayes:
text_clf_nb = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', MultinomialNB()),
])

# Linear SVC:
text_clf_lsvc = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC()),
])

In [22]:
text_clf_lsvc.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [32]:
predictions = text_clf_lsvc.predict(X)

In [34]:
# Print the overall accuracy
from sklearn import metrics
print(metrics.accuracy_score(y,predictions))

0.9419576416714367

In [36]:
# Print a classification report
print(metrics.classification_report(y,predictions))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        54
           1       0.91      0.94      0.93       426
           2       0.93      0.93      0.93        74
           3       0.96      0.97      0.97      3100
           4       0.95      0.96      0.95      1907
           5       0.80      0.47      0.59        17
           6       1.00      1.00      1.00        48
           7       0.93      0.87      0.90        15
           8       0.89      0.84      0.87       121
           9       0.95      0.96      0.96       101
          10       0.94      0.95      0.94       123
          11       0.95      0.93      0.94       378
          12       0.93      0.90      0.91        48
          13       0.94      0.94      0.94       169
          14       0.89      0.92      0.91        26
          15       1.00      0.95      0.97        20
          16       0.92      0.92      0.92       427
          17       0.92      0.95      0.94        38
          18       0.95      0.95      0.95        63
          19       0.89      0.89      0.89       508
          20       0.86      0.83      0.84       251
          21       0.92      0.97      0.94        97
          22       0.93      0.93      0.93        15
          23       0.93      0.90      0.91        41
          24       0.93      0.89      0.91        62
          25       0.92      0.99      0.95        85
          26       1.00      0.96      0.98        23
          27       0.94      1.00      0.97        15
          28       0.90      0.94      0.92        47
          29       1.00      0.84      0.91        19
          30       0.95      0.90      0.93        42
          31       0.95      0.95      0.95        39
          32       1.00      0.91      0.95        32
          33       1.00      1.00      1.00        11
          34       0.90      0.98      0.94        48
          35       1.00      0.80      0.89        10
          36       0.92      0.74      0.82        46
          37       0.89      0.89      0.89        19
          38       0.89      0.89      0.89        19
          39       1.00      0.83      0.91        24
          40       1.00      0.60      0.75        35
          41       0.96      0.77      0.85        30
          42       1.00      0.85      0.92        13
          43       0.91      1.00      0.95        21
          44       1.00      0.92      0.96        12
          45       0.93      0.88      0.90        16

    accuracy                           0.94      8735
   macro avg       0.94      0.90      0.92      8735
weighted avg       0.94      0.94      0.94      8735

In [26]:
pred=text_clf_lsvc.predict(test_df['text'])

In [27]:
pred[:5]

array([3, 4, 3, 4, 4], dtype=int64)

In [28]:
dataSet = pd.DataFrame()

In [29]:
dataSet['id']=test_df['id']
dataSet['value']=pred

In [30]:
dataSet=dataSet.values

In [31]:
import requests
dataString=""
for loop in range(dataSet.shape[0]):
    if loop==0:
        dataString= str(int(dataSet[loop][0]))+','+str(int(dataSet[loop][1]))
    else:
        dataString = dataString+"\n"+str(int(dataSet[loop][0]))+','+str(int(dataSet[loop][1]))
postData={}
postData['challengeName'] = 'newsclassification'
postData['userID']='918600'
postData['challengeType']='multiclassfication'
postData['submissionData']=dataString
url = 'https://8n46gxwibi.execute-api.us-east-2.amazonaws.com/default/computeModelScore'
x=requests.post(url,json=postData)
print(x.text)

{"message":"Internal Server Error"}